/* kinweb.css */
A.downlode {
	text-decoration: none;
}
body.teaching, html {
    height: 100%;
}

@media (min-width: 768px) {
    aside {
        height: 100%;
    }
}
body {
	margin: 7px 3px 5px 5px;
	font-family: sans-serif;
	color: #000;
	background-color: #fbfdf2;
}
body.bch258 {
	margin:10px 10px 0px 10px;
	padding:0px;
	background:#fff;
}
div.bannerleft {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 250px;
}

div.bannercenter {
	margin-left: 249px;
	margin-right: 249px;
		/*
		IE5x PC mis-implements the box model. Because of that we sometimes have
		to perform a little CSS trickery to get pixel-perfect display across browsers.
		The following bit of code was proposed by Tantek Celik, and it preys upon a CSS
		parsing bug in IE5x PC that will prematurly close a style rule when it runs
		into the string "\"}\"". After that string appears in a rule, then, we can override
		previously set attribute values and only browsers without the parse bug will
		recognize the new values. So any of the name-value pairs above this comment
		that we need to override for browsers with correct box-model implementations
		will be listed below.
		
		We use the voice-family property because it is likely to be used very infrequently,
		and where it is used it will be set on the body tag. So the second voice-family value 
		of "inherit" will override our bogus "\"}\"" value and allow the proper value to
		cascade down from the body tag.

		The style rule immediately following this rule offers another chance for CSS2
		aware browsers to pick up the values meant for correct box-model implementations.
		It uses a CSS2 selector that will be ignored by IE5x PC.
		
		Read more at http://www.glish.com/css/hacks.asp
		*/
		
	voice-family: "\"}\"";
	voice-family: inherit;
	margin-left: 251px;
	margin-right:251px;
}

html > body.bch258 div.bannercenter {
	margin-left: 251px;
	margin-right:251px;
}

div.bannerright {
	position: absolute;
	right:10px;
	top:20px;
	width:250px;
}

div.bannercenter h1, div.bannercenter h3 { 
	margin: 20px; 
	padding: 0px;
	font-family: Optima, Arial, sans-serif;
	text-align: center;
}
div.bannercenter h1 { font-size: 20pt; }
div.bannercenter h3 { font-size: 14pt; }
div.pageheader {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center; 
	background: transparent;
}
div.bch258  {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	padding; 0;
}
div.bch258 h2 {
	text-align: center; 
	margin: 30px 0 20px 0;
	font-size: 1.4em;
	font-weight: 900;
	clear: both; 
}
div.bch258 p.day {
	margin: 20px 0 0 0;
	padding-top: 3px; 
	font-weight: bold;
	border-top: 1px solid #b27fb2;
	color: #606;
	clear: both; 
}
div.bch258 p.topic { 
	margin: 0 0 20px 20px;
	width: 330px;
	float: left;
}
div.bch258 p.resources {
	margin: 0 0 20px;
	padding: 0;
	text-align: right; 
	font-size: 0.8em;
}
div.listing {
	margin: 5px;
	padding: 0px;
	clear: both;
}
div.listing p  {
margin-bottom: 0;
}
div.listing ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}
div.pageheader h1 {
	font-family: Arial, sans-serif;
	font-size: 18pt;
	line-height: 110%;
	font-weight: 800;
	color: black;
	text-align: center; 
	background: transparent;
}
img.sm_masthead {
	vertical-align: -15%; 
}
div.whitespace { padding: 25px; }
div.whitespace50 { padding: 50px; }
div.whitespace5 { padding: 5px; }
div.whitespace15 { padding: 15px; }
div.formrow {
	clear: both;
	padding-top: 5px;
	width: 550px;
}
div.formrow span.label {
	float: left;
	width: 150px;
	text-align: right;
}
div.formrow span.formw {
	float: right;
	width: 400px;
	text-align: left;
}
div.hpitem {
	margin: 5px 3px;
	clear: both;
}
div.hpleftnav { 
	width: 375px;
	background: transparent;
	margin-top: 20px;
	padding: 7px;
}
<!-- 141108 div.leftnav width: >100  separate row above pagecontent -->
div.leftnav { 
	width: 400px; <!-- was 100 -->
	background: transparent;
	margin-top: 0px; <!-- was 20 -->
	padding-right: 7px;
	font-family: Verdana, Helvetica, sans-serif;
}
div.leftnav a { 
	text-decoration: none;
}
div.leftnav h4 {
	font-size: 0.90em;
	margin: 0 0 0 0; <!-- was 15px 5px 0 0; -->
	padding: 0;
}
div.leftnav h4 span {
	font-size: 0.85em;
	color: rgb(23%,23%,23%);
}
div.leftnav p {
	font-size: 0.85em;
	margin: 0 0 10px 20px;
	padding: 0;
}
div.lvl2links {
	font-size: 0.85em;
	margin: 0 0 0 15px;
	padding: 0;
}
div.lvl2links h4 {
	font-size: 0.85em;
	margin: 0 0 0 5px;
	padding: 0;
}
div.horizrule {
	margin: 10px 0;
	padding: 0;
	border-top: #630 solid 2px;
	clear: left;
}
div.scriptunit {
	clear: both;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #000;
}
<!-- 141108 div.leftnav deprecated for div.homesitenav above pagecontent 
and pagecontent not need  border-left: #630 solid 2px; -->
div.pagecontent {
	display: block;
	margin-top: 10px;
	padding-left: 7px;
	background: transparent;
	<!-- border-left: #630 solid 2px; -->
}
div.pagecontent h3.cnt1 {
	color: #006;
	background-color: transparent;
	font: 600 1.2em Arial, sans-serif;
	text-align: left;
	margin: 20px 0 0 0;
	padding: 0;
}
div.pagecontent h2.hdr1 {
	color: black;
	background-color: transparent;
	margin: 20px 0 0 0;
	padding: 0;
	font: 800 1.3em Arial, sans-serif;
}
div.pagecontent ul.hdr1 {
	margin: 0 0 0 10px;
	padding: 0;
}
div.pagecontent ul.hdr1 ul {
	margin: 0 0 0 15px;
		padding: 0;
}
div.pagecontent ul.hdr1 li {
	padding: 0;
	list-style-type: square;
	font: 400 1em/1.5em;
}
div.pagecontent ul.hdr1 li a {
text-decoration: none;
}
div.pagecontent ul.hdr1 ul li {
	padding: 0;
	list-style-type: circle;
	font: 300 0.9em/1.1em;
}
div.pagecontent ul.hdr1 ul a {
	text-decoration: none;
}
div.pagecontent ol.cnt1 {
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: decimal;
}
div.pagecontent ol.cnt1 li.cnt1 {
	margin: 10px 0 0 0;
	padding: 0;
}
div.pagecontent ol.cnt1 p{
	margin: 10px 0 0 0;
	padding: 0;
}
div.pagecontent p.intro {
	font-size: 1.0em;
	margin: 0px;
	padding: 0px 5px 0px 5px;
}
div.pagecontent p { margin-top: 3px; }
div.pageTOC { }
div.pagefooter  {
	display: block;
	margin-top: 5px;
	border-top: 2px solid #630;
	font-weight: 400;
	font-size: 0.9em;
	color: #630;
	background: transparent;
}
div.lefthalfnofloat {
	margin: 0 10px 20px 0;
}

div.lefthalf {
	float: left;
	margin: 0 10px 20px 0;
}
div.righthalf { 
	margin: 0 0 10px 10px;
	float: right;
}
div.lefthalf h3,
div.lefthalfnofloat h3,
div.righthalf h3 { 
	font-size: 1.1em;
	color: black;
	font-weight: 600;
	margin: 30px 0 5px 10px;
	padding: 0;
}
div.righthalf h4 { 
	font-size: 0.90em;
	color: black;
	font-weight: 600;
	margin: 5px 0 0 0;
	padding: 0;
}
div.lefthalf ul, 
div.lefthalfnofloat ul,
div.righthalf ul, 
div.righthalf p {
	margin: 0 0 0 10px;
	padding: 0;
	font-size: 0.90em;
	list-style-type: none;
}

div.downloadtable { margin-left: 50px; }
div.downloadtableright { 
	padding: 0;
	margin: 0px auto;
}
table.download {
	width: 700px;
	color: black;
	background-color: transparent;
}
table.download a { text-decoration: none; }
table.download th {
	font-size: 0.85em;
	font-weight: 900;
	font-family: Arial, sans-serif;
	padding: 2px 1px;
	text-align: left;
	border-bottom: black 2px solid;
}
table.download td {	
	font-size: 0.85em;
	font-weight: 600;
	font-family: Helvetica, sans-serif;
	padding: 0;
	border-bottom: black 1px solid;
}
table.docsdown {
	width: 800px;
	color: black;
	background-color: transparent;
}
table.docsdown a { text-decoration: none; }
table.docsdown th {
	font-size: 0.85em;
	font-weight: 900;
	font-family: Arial, sans-serif;
	padding: 2px 1px;
	text-align: left;
	border-bottom: black 2px solid;
}
table.docsdown td {
	font-size: 1em;
	font-weight: 400;
	padding: 0 0 0 0px;
	border-bottom: #630 1px solid;
}
table.docsdown td.iconCell {
	padding: 0px;
	font-size: 0.65em;
}
table.gallery {
	color: black;
	background-color: transparent;
}
table.gallery tr.whitebkgrnd {
	background-color: white;
}
table.gallery td {
	font-size: 1em;
	font-weight: 400;
	padding: 0 0 0 10px;
	border-bottom: #630 1px solid;
}
table.gallery td.icon {
	padding: 5px;
	width: 83px;
}
table.database {
	width: 700px;
	color: black;
	background-color: transparent;
}
table.database a { text-decoration: none; }
table.database th {
	font-size: 0.9em;
	font-weight: 700;
	font-family: Arial, sans-serif;
	padding: 2px 1px;
	text-align: left;
	border-bottom: black 2px solid;
}
table.database td {	
	font-size: 0.85em;
	font-weight: 400;
	font-family: Helvetica, sans-serif;
	padding: 0;
	border-bottom: #630 1px solid;
}
div.number {	
	text-align: ".";
	padding-left: 10px;
}

td ul.tblList { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}
td ul.tblList li { 
	font-size: 0.9em;
	margin-left: 10px;
	padding: 0;
}
li.passwd a{ 
	color: green;
}
li.docMarker  {
	list-style-type: none;
}
img {
	border: none;
}
.softwareNotes {
	color: rgb(23%,23%,23%);
	background-color: transparent;
	font-size: 0.85em;
	font-family: Optima, sans-serif;
	font-weight: 500;
	margin: 0 50px;
	padding: 0px;
}

.leftpic {
	float: left;
	margin: 10px;
	padding: 0;
	border: 0;
}
.rightpic {
	float: right;
	margin: 0;
	padding: 0;
	border: 0;
}
.middlepic {
	margin: 0;
	padding: 0 0 0 0;
	line-height: 0;
	border: 0;
}
p.pagedesc {
	color: black;
	background-color: #DDD;
	font: 600 0.9em;
	margin: 0 50px;
	padding: 5px;
	border: 5px double #300;
}
.pdbV3advisory {
	color: black;
	background-color: #FF9;
	font: 600 0.9em;
	margin: 0;
	padding: 5px;
	border: 5px double #F03;
}
p.biblist {
	color: black; 
	background-color: transparent;
	margin: 50px 0 10px 0px;
	padding: 0px;
}
p.biblist span.author { }
p.biblist span.year { font-weight: 900; }
p.biblist span.title { 
	font-style: italic;
	font-weight: 900;
}
p.biblist span.journal { }
p.biblist span.volume { font-weight: 900; }
p.biblist span.pages { }
p.biblist span.symbols {
	font-family: Symbol; 
}
.center  {
	text-align: center;
}
.insetNormal  {
	color: black;
	background-color: transparent;
	font-size: 1em;
	font-weight: 400;
	margin-left: 30px;
	margin-top: 0px;
	padding: 0px;

}
.normal {
	color: black;
	background-color: transparent;
	font-size: 1em;
	font-weight: 400;
	margin: 0px;
	padding: 5px;
}
.lesser {
	color: rgb(23%,23%,23%);
	background-color: transparent;
	font-size: 0.9em;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}
.muchlesser {
	color: rgb(23%,23%,23%);
	background-color: transparent;
	font-size: 0.8em;
	font-weight: 300;
	margin: 0px;
	padding: 5px;
}
.emphasis {
	font-weight: bolder;
	font-size: larger;
}
span.less {
	font-weight: 700;
	font-size: smaller;
	color: rgb(23%,23%,23%);
}
.symbol  { font-family: Symbol, symbol; }

table.rnaconformers {
    width: 850px;
    color: black;
    background-color: transparent;
}
table.rnaconformers td a {
    color: blue;
    text-decoration: none;
}
table.rnaconformers th {
    font-size: 0.9em;
    font-weight: 700;
    font-family: sans-serif;
    padding: 2px 1px;
    text-align: center;
    border-bottom: black 2px solid;
}
table.rnaconformers td {
    font-size: 0.85em;
    font-weight: 400;
    font-family: sans-serif;
    padding: 0;
    border-bottom: #630 1px solid;
}
table.rnaconformers tr.lastOfType td {
    border-bottom: #630 3px solid;
}
table.rnaconformers tr.lastOfAll td {
    border-bottom: none;
}
